<section id="benefits" class="benefits-section container">
  <div class="img-wrap">
    <img class="locker-img" src="/img/locker.png" srcset="/img/locker@2x.png 2x" alt="locker" />
  </div>
  <div class="top-text-wrap">
    <p class="left-text">
      Step into the enchanting world of
      <span class="cat-text-span">Cat Quest</span>, an open-world action RPG
      where you take on the role of a brave feline hero destined to save the
      kingdom.
    </p>
    <p class="right-text">
      Explore a vast land filled with dungeons, monsters, and legendary
      treasures as you embark on an epic journey to uncover ancient secrets and
      defeat menacing foes.
    </p>
    <h3 class="benefits-title">Benefits</h3>
    <ul class="benefits-list">
      <li class="benefit-item">
        <div class="benefit-content">
          <img class="wood-board" src="/img/wood-board.png" srcset="/img/wood-board@2x.png 2x" alt="wood board" />
          <div class="board-text-wrap text-wrap-1" >
            <h4 class="board-title">Captivating Storyline:</h4>
            <p class="board-text">
              Follow an engaging narrative full of twists, charming characters, and
              ancient prophecies.
            </p>
          </div>
        </div>
        <img class="sword hide" src="/img/sword-benefits.png" srcset="/img/sword-benefits@2x.png 2x" alt="sword">
      </li>
      <li class="benefit-item">
        <div class="benefit-content">
          <img class="wood-board" src="/img/wood-board.png" srcset="/img/wood-board@2x.png 2x" alt="wood board" />
          <div class="board-text-wrap text-wrap-2">
            <h4 class="board-title">Open-World Exploration:</h4>
            <p class="board-text">
              Roam a beautifully designed kingdom filled with secrets, side quests,
              and hidden dungeons.
            </p>
          </div>
        </div>
      </li>
      <li class="benefit-item">
        <div class="benefit-content">
          <img class="wood-board" src="/img/wood-board.png" srcset="/img/wood-board@2x.png 2x" alt="wood board" />
          <div class="board-text-wrap text-wrap-3">
            <h4 class="board-title">Powerful Magic:</h4>
            <p class="board-text">
              Unlock and master powerful spells to vanquish enemies and solve
              magical puzzles.
            </p>
          </div>
        </div>
      </li>
      <li class="benefit-item">
        <div class="benefit-content">
          <img class="wood-board" src="/img/wood-board.png" srcset="/img/wood-board@2x.png 2x" alt="wood board" />
          <div class="board-text-wrap text-wrap-4">
            <h4 class="board-title">Action-Packed Combat:</h4>
            <p class="board-text">
              Engage in fast-paced battles with intuitive controls and dynamic
              spellcasting.
            </p>
          </div>
        </div>
        <img class="sword-l" src="/img/sword-benefits.png" srcset="/img/sword-benefits@2x.png 2x" alt="sword">
      </li>
      <li class="benefit-item">
        <div class="benefit-content">
          <img class="wood-board" src="/img/wood-board.png" srcset="/img/wood-board@2x.png 2x" alt="wood board" />
          <div class="board-text-wrap text-wrap-5" >
            <h4 class="board-title">Challenging Dungeons:</h4>
            <p class="board-text">
              Face off against monstrous bosses and claim legendary loot hidden deep
              within treacherous caves.
            </p>
          </div>
        </div>
      </li>
      <li class="benefit-item">
        <div class="benefit-content">
          <img class="wood-board" src="/img/wood-board.png" srcset="/img/wood-board@2x.png 2x" alt="wood board" />
          <div class="board-text-wrap text-wrap-6" >
            <h4 class="board-title">Customization:</h4>
            <p class="board-text">
              Upgrade your hero with unique weapons, armor, and enchantments to
              tailor your playstyle.
            </p>
          </div>
        </div>
      </li>
      <li class="benefit-item">
        <div class="benefit-content">
          <img class="wood-board" src="/img/wood-board.png" srcset="/img/wood-board@2x.png 2x" alt="wood board" />
          <div class="board-text-wrap text-wrap-7" >
            <h4 class="board-title">Whisker-Twitching Humor:</h4>
            <p class="board-text">
              Enjoy witty cat puns, quirky NPCs, and a lighthearted yet compelling
              adventure.
            </p>
          </div>
        </div>
        <img class="sword hide" src="/img/sword-benefits.png" srcset="/img/sword-benefits@2x.png 2x" alt="sword">
      </li>
    </ul>
  </div>
</section>
