<section id="faq" class="faq-section container">
  <h3 class="faq-title">FAQ</h3>
  <ul class="faq-list">
    <li class="faq-item">
      <div class="accordion-wrap">
        <h4 class="faq">What is Cat Quest?</h4>
        <button class="accordion-btn"><img class="arrow-down" src="/img/arrow-down.png" srcset="/img/arrow-down@2x.png 2x" alt="arrow down"></button>
      </div>
      <p class="faq-content">Cat Quest is an open-world action RPG where players control a heroic feline on a quest to save the kingdom from evil forces.</p>
    </li>
    <li class="faq-item">
      <div class="accordion-wrap">
        <h4 class="faq">Is the game free to play?</h4>
        <button class="accordion-btn"><img class="arrow-down" src="/img/arrow-down.png"  srcset="/img/arrow-down@2x.png 2x" alt="arrow down"></button>
      </div>
      <p class="faq-content">The game is available for purchase, with no intrusive microtransactions, ensuring a complete experience.</p>
    </li>
    <li class="faq-item">
      <div class="accordion-wrap">
        <h4 class="faq">Can I play offline?</h4>
        <button class="accordion-btn"><img class="arrow-down" src="/img/arrow-down.png" srcset="/img/arrow-down@2x.png 2x" alt="arrow down"></button>
      </div>
      <p class="faq-content">Yes! Cat Quest offers a full single-player experience without requiring an internet connection.</p>
    </li>
    <li class="faq-item">
      <div class="accordion-wrap">
        <h4 class="faq">Will there be updates and expansions?</h4>
        <button class="accordion-btn"><img class="arrow-down" src="/img/arrow-down.png" srcset="/img/arrow-down@2x.png 2x" alt="arrow down"></button>
      </div>
      <p class="faq-content">Cat Quest is available on Google Play, App Store, PC, and major gaming consoles.</p>
    </li>
    <li class="faq-item">
      <div class="accordion-wrap">
        <h4 class="faq">Are there different difficulty levels?</h4>
        <button class="accordion-btn"><img class="arrow-down" src="/img/arrow-down.png" srcset="/img/arrow-down@2x.png 2x" alt="arrow down"></button>
      </div>
      <p class="faq-content">The game offers various challenges, allowing both casual and hardcore players to enjoy the adventure.</p>
    </li>
    <li class="faq-item">
      <div class="accordion-wrap">
        <h4 class="faq">What platforms is the game available on?</h4>
        <button class="accordion-btn"><img class="arrow-down" src="/img/arrow-down.png" srcset="/img/arrow-down@2x.png 2x" alt="arrow down"></button>
      </div>
      <p class="faq-content">Yes! Future updates will include additional quests, new areas to explore, and exciting gameplay features.</p>
    </li>
  </ul>
</section>