<div class="footer">
  <span class="line"></span>
  <div class="footer-wrap container">
    <img class="footer-logo" src="/img/cat-logo.png" srcset="/img/cat-logo@2x.png 2x" alt="Cat logo" />
    <div class="content-wrap">
      <ul class="text-list">
        <li class="list-item">
          <p class="footer-text"><a href="/privacy-policy.html">Privacy Policy</a></p>
        </li>
        <li class="list-item">
          <p class="footer-text"><a href="/terms-and-conditions.html">Terms and Conditions</a></p>
        </li>
        <li class="list-item">
          <p class="footer-text"><a href="stp-7979/cookies-policy.html">Cookies Policy</a></p>
        </li>
      </ul>
      <a
        href="https://play.google.com/store/apps/details?id=com.thegentlebros.catquest&hl=en&gl=us"
        target="_blank"
        ><img class="gp-img" src="/img/gp-img.png" srcset="/img/gp-img@2x.png 2x" alt="google play"
      /></a>
    </div>
  </div>
</div>
