<section>
  <div class="gameDescrWrap container">
    <h4 class="gameDescrTitle">Game Description</h4>
    <img
      src="./img/description-card.jpg"
      srcset="./img/description-card@2x.jpg 2x"
      alt="game description background"
      class="gameDescrImg"
    />
    <p class="gameDescrText">
      <b>Cat Quest</b> is an immersive open-world RPG that blends action-packed
      combat with exploration and storytelling. <br /><br />

      As a courageous feline warrior, you'll traverse a beautifully crafted
      kingdom, battling fearsome enemies, discovering lost treasures, and
      fulfilling your destiny as the realm’s greatest hero. <br /><br />

      With an engaging storyline, breathtaking visuals, and deep RPG mechanics,
      <b>Cat Quest</b> delivers an unforgettable adventure for players of all
      ages.
    </p>
  </div>
</section>
