<header class="header-section">
  <div class="header-wrap container">
    <a href="./index.html">
      <img class="header-logo" src="/img/cat-logo.png" srcset="/img/cat-logo@2x.png 2x" alt="Cat logo">
    </a>
    <ul class="hiden-menu">
      <li class="menu-hiden-item"><a class="item-link" href="./">Home</a></li>
      <li class="menu-hiden-item"><a class="item-link" href="#benefits">Benefits</a></li>
      <li class="menu-hiden-item"><a class="item-link" href="#game-description">Game Description</a></li>
      <li class="menu-hiden-item"><a class="item-link" href="#main-characters">Main Characters</a></li>
      <li class="menu-hiden-item"><a class="item-link" href="#gallery">Gallery</a></li>
      <li class="menu-hiden-item"><a class="item-link" href="#faq">FAQ</a></li>
      <li class="menu-hiden-item"><a class="item-link" href="#reviews">Reviews</a></li>
    </ul>
    <button class="header-menu-open-btn">
      <img class="burger" src="/img/burger.png" srcset="/img/burger@2x.png 2x" alt="burger menu">
    </button>
  </div>
</header>

<div class="backdrop">
  <div class="backdrop-wrap container">
    <ul class="header-menu-list">
      <li class="menu-item"><a class="item-link-bd" href="./">Home</a></li>
      <li class="menu-item"><a class="item-link-bd" href="#benefits">Benefits</a></li>
      <li class="menu-item"><a class="item-link-bd" href="#game-description">Game Description</a></li>
      <li class="menu-item"><a class="item-link-bd" href="#main-characters">Main Characters</a></li>
      <li class="menu-item"><a class="item-link-bd" href="#gallery">Gallery</a></li>
      <li class="menu-item"><a class="item-link-bd" href="#faq">FAQ</a></li>
      <li class="menu-item"><a class="item-link-bd" href="#reviews">Reviews</a></li>
    </ul>
    <button class="close-btn">
      <svg class="menu-close-button-svg" width="32" height="32">
        <use href="/sprite.svg#icon-close"/>
      </svg>
    </button>
  </div>
</div>