<header class="header-section">
  <div class="header-wrap container">
    <a href="./index.html">
      <img class="header-logo" src="/img/cat-logo.png" alt="Cat logo">
    </a>
    <ul class="hiden-menu">
      <li class="menu-hiden-item"><a class="item-link" href="./">Home</a></li>
      <li class="menu-hiden-item"><a class="item-link" href="">Benefits</a></li>
      <li class="menu-hiden-item"><a class="item-link" href="">Game Description</a></li>
      <li class="menu-hiden-item"><a class="item-link" href="">Main Characters</a></li>
      <li class="menu-hiden-item"><a class="item-link" href="">Gallery</a></li>
      <li class="menu-hiden-item"><a class="item-link" href="">FAQ</a></li>
      <li class="menu-hiden-item"><a class="item-link" href="">Reviews</a></li>
    </ul>
    <button class="header-menu-open-btn">
      <svg class="menu-open-button-svg" width="28" height="38">
        <use href="/sprite.svg#icon-menu"/>
      </svg>
    </button>
  </div>
</header>

<div class="backdrop">
  <div class="backdrop-wrap container">
    <ul class="header-menu-list">
      <li class="menu-item"><a class="item-link-bd" href="#">Home</a></li>
      <li class="menu-item"><a class="item-link-bd" href="#">Benefits</a></li>
      <li class="menu-item"><a class="item-link-bd" href="#">Game Description</a></li>
      <li class="menu-item"><a class="item-link-bd" href="#">Main Characters</a></li>
      <li class="menu-item"><a class="item-link-bd" href="#">Gallery</a></li>
      <li class="menu-item"><a class="item-link-bd" href="#">FAQ</a></li>
      <li class="menu-item"><a class="item-link-bd" href="#">Reviews</a></li>
    </ul>
    <button class="close-btn">
      <svg class="menu-close-button-svg" width="32" height="32">
        <use href="/sprite.svg#icon-close"/>
      </svg>
    </button>
  </div>
</div>