<section>
  <div class="heroWrap container">
    <img
      src="./img/sword-hero.png"
      srcset="./img/sword-hero@2x.png 2x"
      alt="cat hero title"
      class="heroTitle"
    />
    <h4 class="heroSubtitle">Embark on a Pawsome Adventure!</h4>
    <a
      class="heroLink"
      href="https://play.google.com/store/apps/details?id=com.thegentlebros.catquest&hl=en&gl=us"
    >
    </a>
    <div class="heroCatBox">
      <img
        src="./img/hero-cat.png"
        srcset="./img/hero-cat@2x.png 2x"
        alt="cat hero"
        class="heroCat"
      />
    </div>
  </div>
</section>
