<section id="main-characters" class="characters-section container">
  <h3 class="characters-title">Main Characters</h3>
  <ul class="main-characters-list">
    <li class="character-item">
      <div class="character-item-wrap">
        <h4 class="character-name">The Dragonblood Hero</h4>
        <img class="character-img" src="/img/dragonblood.png" srcset="/img/dragonblood@2x.png 2x" alt="Dragonblood Hero" />
        <p class="characters-description">
          The courageous feline protagonist, the last of the Dragonblood
          lineage, tasked with saving the world from darkness.
        </p>
      </div>
    </li>
    <li class="character-item">
      <div class="character-item-wrap">
        <h4 class="character-name">Drakoth - A</h4>
        <img class="character-img" src="/img/drakoth.png" srcset="/img/drakoth@2x.png 2x" alt="Drakoth villain" />
        <p class="characters-description">
          A menacing villain with a mysterious past, threatening the peace of
          the land with his dragon minions.
        </p>
      </div>
    </li>
    <li class="character-item">
      <div class="character-item-wrap">
        <h4 class="character-name">The Cat King</h4>
        <img class="character-img" src="/img/king.png" srcset="/img/king@2x.png 2x" alt="Cat King" />
        <p class="characters-description">
          The noble ruler of the land, seeking a hero to fend off the rising
          threat of darkness.
        </p>
      </div>
    </li>
  </ul>
</section>
