<section>
  <div class="reviewsWrap container">
    <h4 class="reviewsTitle">Reviews</h4>
    <div class="reviewsList">
      <div class="reviewBox">
        <img
          src="./img/olivia-review.png"
          srcset="./img/olivia-review@2x.png 2x"
          alt="olivia"
          class="first"
        />
        <div class="reviewDescr second">
          <p>Olivia P.</p>
          <div class="stars">
            <img src="./img/star.png" alt="star" />
            <img src="./img/star.png" alt="star" />
            <img src="./img/star.png" alt="star" />
            <img src="./img/star.png" alt="star" />
            <img src="./img/star.png" alt="star" />
          </div>
          <span
            >"An absolute delight! The combat is smooth, the world is vibrant,
            and the humor is top-notch. Highly recommended for RPG fans!"</span
          >
        </div>
      </div>
      <div class="reviewBox">
        <img
          src="./img/daniel-review.png"
          srcset="./img/daniel-review@2x.png 2x"
          alt="daniel"
          class="second"
        />
        <div class="reviewDescr first">
          <div class="reverse">
            <p>Daniel R.</p>
            <div class="stars">
              <img src="./img/star.png" alt="star" />
              <img src="./img/star.png" alt="star" />
              <img src="./img/star.png" alt="star" />
              <img src="./img/star.png" alt="star" />
            </div>
          </div>
          <span
            >"The exploration and magic system are amazing! I wish there were
            more side quests, but overall, a fantastic adventure."</span
          >
        </div>
      </div>
      <div class="reviewBox">
        <img
          src="./img/sophia-review.png"
          srcset="./img/sophia-review@2x.png 2x"
          alt="sophia"
          class="first"
        />
        <div class="reviewDescr second">
          <p>Sophia L.</p>
          <div class="stars">
            <img src="./img/star.png" alt="star" />
            <img src="./img/star.png" alt="star" />
            <img src="./img/star.png" alt="star" />
            <img src="./img/star.png" alt="star" />
            <img src="./img/star.png" alt="star" />
          </div>
          <span
            >"A fun and charming game, but I found some dungeons repetitive.
            Hoping for more variety in future updates."</span
          >
        </div>
      </div>
      <div class="reviewBox">
        <img
          src="./img/michael-review.png"
          srcset="./img/michael-review@2x.png 2x"
          alt="michael"
          class="second"
        />
        <div class="reviewDescr first">
          <div class="reverse">
            <p>Michael T.</p>
            <div class="stars">
              <img src="./img/star.png" alt="star" />
              <img src="./img/star.png" alt="star" />
              <img src="./img/star.png" alt="star" />
              <img src="./img/star.png" alt="star" />
            </div>
          </div>
          <span
            >"Great visuals, but the combat can feel a bit simplistic after a
            while. Needs more depth in gameplay mechanics."</span
          >
        </div>
      </div>
      <div class="reviewBox">
        <img
          src="./img/henry-review.png"
          srcset="./img/henry-review@2x.png 2x"
          alt="henry"
          class="first"
        />
        <div class="reviewDescr second">
          <p>Henry J.</p>
          <div class="stars">
            <img src="./img/star.png" alt="star" />
            <img src="./img/star.png" alt="star" />
            <img src="./img/star.png" alt="star" />
            <img src="./img/star.png" alt="star" />
          </div>
          <span
            >"Not what I expected. The game looks great, but the quest structure
            is too linear. Wanted more open-ended choices."</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
