.benefits-section {
  background-color: #110a16;
  position: relative;
  overflow: hidden;
}

.img-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;

}

.locker-img {
  width: 255;
  height: 102;
  position: relative;
  top: -10%;
}

