.footer {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  background-color: #110a16;

  @include media(desktop) {
    position: relative;
    max-width: 1200px;
  }
}

.line {
  display: block;
  align-items: center;
  width: 100vw;
  max-width: 375px;
  height: 4px;
  background: #d58d00;
  padding: 0;
  margin: 0 auto;

  @include media(desktop) {
    max-width: 1200px;
  }
}

.footer-wrap {
  margin-top: 16px;
}

.footer-logo {
  width: 98px;
  height: 36px;
  margin: 0 auto;

  @include media(desktop) {
    width: 312px;
    height: 113px;
    position: absolute;
    left: 420px;
    top: 62px;
  }
}

.content-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 16px;
  padding-bottom: 16px;

  @include media(desktop) {
    margin-top: 62px;
  }
}

.footer-text {
  font-weight: 400;
  font-size: 12px;
  color: #fbfbfb;

  @include media(desktop) {
    font-size: 20px;
  }
}

.gp-img {

  @include media(desktop) {
    content: url("/img/gp-img-desktop.png");
    width: 262px;
    height: 62px;
  }
  @include media(desktop) {
    @media (min-resolution: 2dppx) {
      content: url("/img/gp-img-desktop@2x.png");
    }
  }
}

.rights-text {
  display: none;

  @include media(desktop) {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fbfbfb;
    text-align: center;
    margin-top: 57px;
  }
}
