.gameDescrWrap {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #d58d00;
  position: relative;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 62px;
    padding-bottom: 62px;
  }
}

.gameDescrTitle {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 26px;
  color: #110a16;

  @include media(desktop) {
    width: 100%;
    font-size: 40px;
  }
}

.gameDescrImg {
  margin: 16px 0;

  @include media(desktop) {
    width: 453px;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    right: 40px;
  }
}

.gameDescrText {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  color: #110a16;

  @include media(desktop) {
    width: 548px;
    font-size: 18px;
    margin-top: 40px;
  }
}

.gameDescrText b {
  @include media(desktop) {
    font-size: 32px;
    font-weight: 500;
  }
}
