.characters-section {
  /* Основное фоновое изображение */
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)),
    url('/img/main-characters-bg-mobile.png');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;

  @include media(desktop) {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)),
      url('/img/main-characters-bg.png');
  }
}

.main-characters-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
  margin-bottom: 32px;

  @include media(desktop) {
    flex-direction: row;
    gap: 48px;
  }
}

.character-item-wrap {
  width: 204px;
  height: 278px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    width: 262px;
    height: 456px;
  }
}

.characters-title {
  font-weight: 600;
  font-size: 26px;
  color: #d58d00;
  margin-top: 32px;

  @include media(desktop) {
    font-size: 40px;
  }
}

.character-name {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 32px;
  }
}

.characters-description {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #fbfbfb;

  @include media(desktop) {
    font-size: 18px;
  }
}

.character-img {
  width: 138px;
  height: 170px;
  margin-bottom: 16px;

  @include media(desktop) {
    width: 180px;
    height: 212px;
  }
}
