.privacy-policy-section {
  background-color: #110a16;
  display: flex;
  flex-direction: column;
}

.privacy-title {
  font-weight: 600;
  font-size: 26px;
  color: #d58d00;
}

.header-text {
  color: #d58d00;
}

.policy-text-wrap {
  margin-top: 16px;
  margin-bottom: 40px;
}

.list-info {
  color: #fbfbfb;
  list-style-type: disc;
  font-size: 12px;
  margin-left: 26px;
}

.space {
  margin-bottom: 20px;
}
