@import './header.scss';
@import './hero.scss';
@import './benefits.scss';
@import './game-description.scss';
@import './main-characters.scss';
@import './gallery.scss';
@import './faq.scss';
@import './reviews.scss';
@import './footer.scss';
@import './cookies-policy.scss';
@import './cookies-policy-modal.scss';
@import './terms-and-conditions.scss';

// @font-face {
//   font-family: 'Inter';
//   src: url('../fonts/Inter_18pt-Regular.ttf');
// }

// @font-face {
//   font-family: 'Playfair Display';
//   src: url('../fonts/PlayfairDisplay-Regular.ttf');
// }

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --font-family: 'Inter', sans-serif;
  --second-family: 'Playfair Display', sans-serif;
  --main-background: #1e1e1e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-family);
  background-color: var(--main-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--second-family);
}
